/* Свойства CSS, которые вы установили для body .content, влияют на стили блока с классом .content, 
когда он находится внутри элемента <body>. Давайте разберем каждое свойство: */
body .content{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 200px
}

/* добавляем шрифт к body*/
body{
    font-family: 'Roboto', Geneva, Verdana, sana-serif;
    font-size: 14px;
    background-color: rgba(63, 160, 152, 0.985);
    margin-bottom: 30px
}


/* Здесь, padding: 0 20px; устанавливает отступы справа и слева от краев экрана в 20px, оставляя при этом margin равным нулю. 
Это создаст отступы между содержимым (content) и краями экрана, при этом блоки внутри content будут оставаться с margin между собой. 
Вы можете регулировать значение padding, чтобы получить нужный отступ. */

/* Здесь, padding: 0 20px; устанавливает отступы справа и слева от краев экрана в 20px, оставляя при этом margin равным нулю. 
Это создаст отступы между содержимым (content) и краями экрана, при этом блоки внутри content будут оставаться с margin между собой. 
Вы можете регулировать значение padding, чтобы получить нужный отступ. */

/* Указанный CSS код отвечает за стилизацию блоков с классами .content__one, .content__two, и .content__three */
.content__one, .content__two, .content__three {
    background-color: #f0f0f0;
    padding: 20px;/*Это устанавливает внутренние отступы блоков  */
    margin-bottom: 20px; /* Это устанавливает нижний внешний отступ блоков */
    border-radius: 10px;/* Это применяет закругление углов к блокам. */
}

/* Название блока */
.content-title {
    font-size: 24px; /* Размер шрифта */
    margin-bottom: 10px; /* Отступ снизу */
    color: #333; /* Цвет текста */
    font-weight: bold; /* Сделать текст жирным */
}

