.footer-up-link {
    display: flex; /* Устанавливаем контейнеру flex-отображение */
    justify-content: space-between; /* Равномерно распределяем элементы по горизонтали, раздвигая их на максимальное расстояние */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}

.footer-link {
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    color: #e3e2e2; /* Цвет текста ссылки */
    display: flex; /* Устанавливаем ссылке flex-отображение */
    align-items: center; /* Выравниваем текст и значок по вертикали по центру */
}

.footer-link::before {
    content: "👉"; /* Заменяем текст значком (можно использовать другой Unicode-символ) */
    margin-left: 5px; /* Расстояние между значком и текстом */
    font-size: 18px; /* Размер значка (можно настроить по вашему выбору) */
}