/* ________________________________Работ с LOGO__________________________________________________________ */

/* заходим в стиль main-header и прописываем расположение для отдельного селектора*/
.main-header__logo{
    margin: 20px 20px 10px 10px; 
}

.main-header .main-header__logo .logo {
    width: 150px;
    height: 150px;
}

/* ______________________________________Работа с MENU____________________________________________________ */


/*расположение header__menu */
.main-header__menu {
    display: flex; /* Устанавливает отображение элементов как flex-контейнер */
    flex-direction: row;/* Определяет направление размещения дочерних элементов: в строку */
    justify-content: flex-end; /* Смещает элементы вправо */
    align-items: center; /* Это свойство опечатка, должно быть align-items: center; */
}
/* работа с меню */
.header_menu{
    display: flex; /* Устанавливает отображение элементов как flex-контейнер */
    flex-direction: row; /* Определяет направление размещения дочерних элементов: в строку */
    align-items: center; /* Выравнивает элементы по центру вертикально */
}

.header_menu li{
    padding: 0 24px; /* Внутренние отступы для кнопок */
    list-style-type: none; /* Убрать маркеры списка */
}

.header_menu li a {
    text-decoration: none; /* Убрать подчеркивание у ссылок */
    color: #fff; /* Цвет текста кнопок */
    font-weight: bold; /* Жирный текст */
    font-size: 20px; /* Установите нужный размер шрифта */
}

.header_menu li:hover {
    background-color: #333; /* Изменение фона при наведении курсора */
    border-radius: 5px; /* Закругление углов кнопок */
}

/* ___________________________TITLE______________________________________________________________ */

/* Блок .main-tittle:
Этот блок настраивает стили для элемента с классом .main-tittle. Этот класс, вероятно, используется для настройки 
стилей для заголовка внутри блока с классом main-header__tittle. Здесь устанавливается размер шрифта, цвет текста 
и отступы для этого заголовка. */


.main-header__tittle {
    font-size: 26px;
    color: #333;
    margin: -140px 200px 20px 350px; /* Установите нужный отступ сверху и снизу */
}

.main-header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
